@import "colors";
@import "dimensions";
@import "bulma";
@import "noty/lib/noty";
@import "noty/lib/themes/sunset";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
// div#wrapper {
//   position: relative;
//   box-sizing: border-box;
//   min-height: 100%;
//   margin: 0 auto;
//   padding-bottom: ($wide + $moderate) * 2 + $standard_line_height;
//   background-color: $gray;
// }

// header {
//   padding: $moderate;
//   background-color: blue;
//   color: $very_light_gray;
//   span.logo-mark {
//     font-weight: bold;
//   }
//   a {
//     float: right;
//     color: $very_light_gray;
//   }
// }
